.{
    margin: 0;
    padding:0;
}
#logo-wrapped .logo-img{
    width:100%;
}
#logo-wrapped .logo-img img {
    margin:50px auto;
    display:block;
    width:320px;
    height:80px;
}
#nav-wrapped{
    width:100%;
    text-align:center;
    margin-bottom:40px;
}
#nav-wrapped .container .inner p,#nav-wrapped .container .inner ul{
    display:inline-block;
}
#nav-wrapped .container .inner ul .i{
    height:15px;
    width:1px;
    background: #333333;
    cursor: pointer;
}
#nav-wrapped .container .inner ul li, #nav-wrapped .container .inner ul .i{
    display: inline-block;
    text-decoration: none;
    margin:0px 10px;
    font-size:18px;
    font-weight:bold;
    text-transform: capitalize;
}
#nav-wrapped .container .inner ul li a{
    text-decoration: none;
    color:#333333;
}
#nav-wrapped .container .inner ul li a:hover{
    color:#FC0254;
    border-bottom:1px solid #FC0254;
}
#banner-wrapped #carousel-banner .owl-carousel-banner{
    margin:0px;
    padding:0px;
    height: 500px;
    max-width: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
#banner-wrapped #carousel-banner .owl-carousel-banner h1{
    margin:0px;
    padding:0px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size:36px;
    color: white;
    width:100%;
    height:auto;
    text-align: center;

}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    background-color: transparent;
    color:white;
    top:50%;
    transform: translateY(-50%);
    padding:10px;
    font-size:25px;
    border:none;
}
.owl-carousel .owl-nav button.owl-next{
    right:0%;
}
.owl-carousel .owl-nav button.owl-prev{
    left:0%;
}
.owl-theme .owl-dots .owl-dot{
    display:inline-block;
    height:5px;
    width:5px;
    background:#fff;
    margin:0px 3px;
}
.owl-theme .owl-dots {
    position: absolute;
    left:50%;
    bottom:30px;
    transform: translateY(-50%);
}
.name-wrapped {
    margin: 50px auto;
    width:100%;
}
.name-wrapped .container-fluid .inner .name-title-wrapped{
    background:#FC0254;
    padding: 10px;
}
.name-wrapped .container-fluid .inner .name-title-wrapped h3{
    color:white;
    display:block;
    text-align: center;
    font-size:16px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}
#best-seller-wrapped .container .inner .best-seller-small-img img{
    width:100%;
    display: block;
}
#best-seller-wrapped .container .inner .best-seller-big-img img{
    width:100%;
    display: block;
}
#best-seller-wrapped .container .inner .best-seller-big-img:hover,#best-seller-wrapped .container .inner .best-seller-small-img img:hover{
    opacity:0.8;  
}
#best-seller-wrapped .container .inner p a{
    text-decoration: none;
    color:#333333;
    display:block;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    margin:20px 0px;
    font-weight:bold;

}
#top-recipe-wrapped{
    background-color:#F8F9FB;
    padding:50px 0px;
}
#top-recipe-wrapped .container .inner .top-recipe-big-img a img{
    display: block;
    width:100%;
    height:450px;
}
#top-recipe-wrapped .container .inner .top-recipe-small-img a img{
    width:100%;
    height:180px;
}
#top-recipe-wrapped .container .inner .type-of-food{
    display:inline-block;
}
#top-recipe-wrapped .container .inner .type-of-food span{
    font-size:12px;
    line-height: 20px;
    font-weight:bold;
    text-transform: uppercase;
    color:white;
    background: #FC0254;
    padding:0px 25px;
    display:inline-block;
}
#top-recipe-wrapped .container .inner .type-of-food h4{
    margin:23px 0px;
}
#top-recipe-wrapped .container .inner .type-of-food h4 a{
    display: block;
    text-decoration: none;
    color:#333333;
    
}
#top-recipe-wrapped .container .inner .type-of-food p{
    font-size:14px;
    display: block;
    margin:10px 0px;
    padding:10px 0px 50px 0px;
}
/**/

/* định dạng thẻ div chưa các button tab */
div.tab {
    overflow: hidden; 
    /*border: 1px solid #ccc; 
    background-color: #f1f1f1;*/
    margin:40px -10px;
}
 
/* định dạng các button tab */
div.tab ul li{
    list-style: none;
	color: #353535;
	display: inline-block;
	padding: 15px 30px;
	font-weight: 700;
	/*margin-right: -4px;*/
	cursor: pointer;
	position: relative;
    z-index: 1;
    margin:10px -5px;
}
 

/* đổi màu khi một button tab được hover */
/*div.tab button:hover {
    background-color:#fff;
    border:1px solid #fff;
}*/
 
/* đổi màu nền cho tab đang được hiển thị nội dung */
div.tab ul li.active{
    background-color:#FC0254;
    border:1px solid #FC0254;
    color:#fff;
}
div.tab ul li.active::before{
    opacity:1;
}
div.tab ul li.active::after{
    opacity:1;
}
div.tab ul li::before{
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FC0254;
	content: "";
	z-index: -1;
	opacity: 0;
}
div.tab ul li::after{
    position: absolute;
	left: 50%;
	bottom: -12px;
	border-top: 20px solid #FC0254;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
	content: "";
	z-index: -1;
	opacity: 0;
}
/* định dạng nội dung hiển thị */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}

/*img*/
#tab-wrapped .tab-menu-img img{
    width:100%;
    display:block;
}
#tab-wrapped .tab-menu-content h4{
    font-weight:500;
    text-align: center;
    margin:30px 0px;
    display:block;
}

/**/
#sooner-recipe-wrapped{
    background: #F8F9FB;
    padding:20px 0px;
}
#sooner-recipe-wrapped .sooner-recipe-inside img{
    border-radius: 50%;
    width:100%;
    display:block;
}
#sooner-recipe-wrapped .sooner-recipe-content h3 {
    font-weight:700;
    display:block;
}
#sooner-recipe-wrapped .sooner-recipe-content p {
    font-size:14px;
    display:block;
    margin:35px 0px;
}