.{
    margin: 0;
    padding:0;
}
img:hover {
    opacity:0.8;
}
.load{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000000000;
	display: block;
	overflow: hidden;
}
.load img{
	width: 150px;
	height: 150px;
	position: absolute; 
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
}
#logo-wrapped .logo-img{
    width:100%;
}
#logo-wrapped .logo-img img {
    margin:50px auto;
    display:block;
    width:320px;
    height:80px;
}

/**/
.topnav{
    background: #fff;
    overflow:hidden;
    text-align: center;
    margin-bottom:40px;
}
.topnav a{
    display:inline-block;
    color:rgb(88, 80, 80);
    font-size:14px;
    text-align:center;
    text-decoration: none;
    padding:20px;
}
.topnav a:hover:not(:last-child){
    border-bottom:2px solid #FC0254;
    color:#0f0f0f;
    background: #fff;  
    text-decoration: none;
    font-weight: 700;
}
.topnav a.active{
    border-bottom:2px solid #FC0254;
    color:#0f0f0f;
    background: #fff;    
}
.topnav .icon{
    display:none;
}
.topnav a:nth-child(2){
    display:none;
}
@media screen and (max-width:600px){
    #logo-wrapped .logo-img{
        width:100%;
    }
    #logo-wrapped .logo-img img {
        margin:50px auto;
        display:block;
        width:280px;
        height:70px;
    }
    .topnav a:not(:first-child){
        display:none;
    }
    
    .topnav a.icon {
        float:right;
        display:block;
    }
}
@media screen and (max-width:600px){

    .topnav.responsive{ 
        position:relative;
        
    }
    .topnav.responsive a.icon {
        position: absolute;
        right:0;
        top:0;
        
    }
    .topnav a:first-child {
       position:absolute;
       left:0;
    }
    .topnav.responsive a{
        display:block;
        text-align: center;
        
    }
    .topnav.responsive a:hover:not(:first-child){
        border-bottom:none;
    }
}
/**/
#banner-wrapped #carousel-banner .owl-carousel-banner{
    margin:0px;
    padding:0px;
    height: 500px;
    max-width: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
#banner-wrapped #carousel-banner .owl-carousel-banner h1{
    margin:0px;
    padding:0px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size:36px;
    color: white;
    width:100%;
    height:auto;
    text-align: center;

}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    background-color: transparent;
    color:white;
    top:50%;
    transform: translateY(-50%);
    padding:10px;
    font-size:25px;
    border:none;
}
.owl-carousel .owl-nav button.owl-next{
    right:0%;
}
.owl-carousel .owl-nav button.owl-prev{
    left:0%;
}
.owl-theme .owl-dots .owl-dot{
    display:inline-block;
    height:5px;
    width:5px;
    background:#fff;
    margin:0px 3px;
}
.owl-theme .owl-dots {
    position: absolute;
    left:50%;
    bottom:30px;
    transform: translateY(-50%);
}
.name-wrapped {
    margin: 50px auto;
    width:100%;
}
.name-wrapped .container-fluid .inner .name-title-wrapped{
    background:#FC0254;
    padding: 10px;
}
.name-wrapped .container-fluid .inner .name-title-wrapped h3{
    color:white;
    display:block;
    text-align: center;
    font-size:16px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}
#best-seller-wrapped .container .inner .best-seller-small-img img{
    width:100%;
    display: block;
}
#best-seller-wrapped .container .inner .best-seller-big-img img{
    width:100%;
    display: block;
}
#best-seller-wrapped .container .inner .best-seller-big-img:hover,#best-seller-wrapped .container .inner .best-seller-small-img img:hover{
    opacity:0.8;  
}
#best-seller-wrapped .container .inner p a{
    text-decoration: none;
    color:#333333;
    display:block;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    margin:20px 0px;
    font-weight:bold;

}
#top-recipe-wrapped{
    background-color:#F8F9FB;
    padding:50px 0px;
}
#top-recipe-wrapped .container .inner .top-recipe-big-img a img{
    display: block;
    width:100%;
    height:450px;
}
#top-recipe-wrapped .container .inner .top-recipe-small-img a img{
    width:100%;
    height:180px;
}
#top-recipe-wrapped .container .inner .type-of-food{
    display:inline-block;
}
#top-recipe-wrapped .container .inner .type-of-food span{
    font-size:12px;
    line-height: 20px;
    font-weight:bold;
    text-transform: uppercase;
    color:white;
    background: #FC0254;
    padding:0px 25px;
    display:inline-block;
}
#top-recipe-wrapped .container .inner .type-of-food h4{
    margin:23px 0px;
}
#top-recipe-wrapped .container .inner .type-of-food h4 a{
    display: block;
    text-decoration: none;
    color:#333333;
    
}
#top-recipe-wrapped .container .inner .type-of-food p{
    font-size:14px;
    display: block;
    margin:10px 0px;
    padding:10px 0px 50px 0px;
}
/**/

/* định dạng thẻ div chưa các button tab */
div.tab {
    overflow: hidden; 
    /*border: 1px solid #ccc; 
    background-color: #f1f1f1;*/
    margin:40px -10px;
}
 
/* định dạng các button tab */
div.tab ul li{
    list-style: none;
	color: #353535;
	display: inline-block;
	padding: 15px 30px;
	font-weight: 700;
	/*margin-right: -4px;*/
	cursor: pointer;
	position: relative;
    z-index: 1;
    margin:10px -5px;
}
 

/* đổi màu khi một button tab được hover */
/*div.tab button:hover {
    background-color:#fff;
    border:1px solid #fff;
}*/
 
/* đổi màu nền cho tab đang được hiển thị nội dung */
div.tab ul li.active{
    background-color:#FC0254;
    border:1px solid #FC0254;
    color:#fff;
}
div.tab ul li.active::before{
    opacity:1;
}
div.tab ul li.active::after{
    opacity:1;
}
div.tab ul li::before{
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FC0254;
	content: "";
	z-index: -1;
	opacity: 0;
}
div.tab ul li::after{
    position: absolute;
	left: 50%;
	bottom: -12px;
	border-top: 20px solid #FC0254;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
	content: "";
	z-index: -1;
	opacity: 0;
}
/* định dạng nội dung hiển thị */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}

/*img*/
#tab-wrapped .tab-menu-img img{
    width:100%;
    display:block;
}
#tab-wrapped .tab-menu-content h4{
    font-weight:500;
    text-align: center;
    margin:30px 0px;
    display:block;
}

/**/
#sooner-recipe-wrapped{
    background: #F8F9FB;
    padding:20px 0px;
}
#sooner-recipe-wrapped .sooner-recipe-inside img{
    border-radius: 50%;
    width:100%;
    display:block;
}
#sooner-recipe-wrapped .sooner-recipe-content h3 {
    font-weight:700;
    display:block;
}
#sooner-recipe-wrapped .sooner-recipe-content p {
    font-size:14px;
    display:block;
    margin:35px 0px;
}
/*HOME FOOTER MORE INFO*/
#home-footer-more-info .container .inner .row ul {
    padding: 0px;
}
#home-footer-more-info .container .inner .row ul li {
text-decoration:none;
list-style:none;
}
#home-footer-more-info .container .inner .row ul li p, #home-footer-more-info .container .inner .row ul li a {
font-size:14px;
color:#1f1f1f;
display: block;
}
#home-footer-more-info .container .inner .row h2{
    font-size: 23px;
}
/**/
#home-link {
    margin:20px 0px;
}
#home-link .container {
    background: #EEEEEE;
    padding: 15px 65px;
    display: inline-block;
    width: 100%;
}

#home-link .container .inner .row h2 {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #43546e;
}

#home-link .container .inner .row h1{
    font-size:35px;
    color:red;
    font-family: 'Roboto';
    font-weight: 900;
}
#home-link .container .inner .row i {
    margin-left: 20px;
    display: inline-block;
}

#home-link .container .inner .row a {
    font-size: 20px;
    color: ;
    font-family: 'Roboto';
    font-weight: 900;
    text-decoration: none;
}

#home-link .container .inner .row a .facebook{
    color: blue;
}

#home-link .container .inner .row a .youtube{
    color: red;
}
#home-link .container .inner .row input {
    width: 250px;
    height: 40px;
    min-height: 40px;
    background: #fff;
    border: 0px;
    outline: 0px;
}

#home-link .container .inner .row button {
    height: 40px;
    line-height: 40px;
    width: 100px;
    border: 0px;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    background: #43546e;
    color: #fff;
    text-transform: uppercase;
}
body .footer-copy-right {
    background: #FC0254;
    clear: left;
     padding: 10px;
}

body .footer-copy-right p {
    font-size: 12px;
    color: #fff;
    text-align: center;

}